:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-white: #fffffe;
  --color-light: #b8c1ec;
  --color-red: red;
  --color-grey: #232946;
  --color-pink: #eebbc3;
  --color-text: #232946;
  --font-normal: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-normal);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-pink);
  background-color: var(--color-grey);
}

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 #000;
  padding: 20px;
}
.nav ul {
  display: flex;
}
.nav li {
  list-style: none;
}
.nav ul li a {
  display: block;
  padding: 20px;
  cursor: pointer;
}
.nav ul li a:hover {
  background-color: #f2f2f2;
}
.nav .left {
  display: flex;
  align-items: center;
}
.nav .left .info {
  margin-left: 20px;
}
.nav .left img {
  width: 80px;
  height: 80px;
}
.nav .left .info h4 {
  color: #333;
  font-size: 16px;
}
.nav .left .info h5 {
  color: #666;
  font-size: 14px;
}
.nav .left p {
  color: #999;
  font-size: 12px;
}
.btn {
  background-color: var(--color-pink);
  border: none;
  padding: 6px 12px;
  line-height: 1;
  color: var(--color-text);
  border-radius: 2px;
  cursor: pointer;
  /* box-shadow: 0 0 0 0 black; */
}
.nav .right {
}
